<div class="card" style="width:fit-content;">
  <div class="card-body">
    <h5 class="card-title">{{blogPost.title}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Written by: {{blogPost.user.username}} on {{format_date blogPost.date_posted}}</h6>
    <p class="card-text">{{blogPost.content}}</p>
    <a href='/blogpost/{{blogPost.id}}/addcomment' class="btn btn-primary">Add a Comment</a>
  </div>
</div>
<div>
{{#each blogPost.comments as |comment|}}
{{> blogcomment}}
{{/each}}
</div>

